@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF;
}



#services{
    margin-top: -20px;
    height: 50wh;
    background-color: #FFFFFF;
    width: 100%;
}
/*beginiong of div class container for HOME */

.container {
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Horizontal center alignment for children */
    justify-content: top; /* Vertical center alignment for children */
    height: fit-content;
    width: auto;
    background-color: #ffffff;
    margin-top: -100px;

  }
  
.container h1 {
    font-size: 3rem;
    color: #000080;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    margin-top: 0px;
    animation-name: zoomInDown; /* Use any Animate.css animation name here */
    animation-duration: 1s;
    animation-delay: 0s;;
  }

.container h2 {
    font-size: 1.5rem;
    color: #000080;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    animation-name: zoomInDown; /* Use any Animate.css animation name here */
    animation-duration: 1s;
    animation-delay: 0.5s;
  }

/*end of div class container directly under home */

/*Beggening of div class container directly under PRICES */
#div_prices {
    display: flex;
    align-items: stretch; /* Centers items vertically */
    justify-content: center; /* Aligns items to the center of the container */
    flex-direction: row;
    gap: 0px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* A subtle shadow to lift the container */
    background-color: #cce7fe;
    padding: 50px 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 1200px;
    color: black;
  
}



#div_prices_1 {
    max-width: 400px; /* Set max width for the container */
    margin: auto; /* Center the container */
    padding: 20px; /* Add some padding around the inside of the container */
    background-color: #f9f9f9; /* Light grey background */
    border-radius: 10px; /* Rounded corners for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* A subtle shadow to lift the container */
    font-family: Arial, sans-serif; /* A more modern font */
    margin-left: 20px;
    margin-right: 20px;
    max-width: 80%;
}

#div_prices_1 label {
    font-size: 14px; /* Slightly larger label text */
    color: #333; /* Darker text for better readability */
    margin-bottom: 5px; /* Space between label and input/textarea */
    display: block; /* Make labels take their own line */
}

#div_prices_1 textarea {
    width: calc(100% - 20px); /* Take full width of the container minus padding */
    padding: 10px; /* Add some padding inside the textarea */
    border: 1px solid #ddd; /* A subtle border */
    border-radius: 5px; /* Rounded corners for the textarea */
    margin-bottom: 0px; /* Space after the textarea */
    height: 15px; /* Set a fixed height */
    resize: vertical; /* Allow only vertical resizing */
}

#div_prices_1 button {
    background-color: #005a9c; /* A nice blue */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding inside the button */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 1px; /* Space out the letters a little */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* The pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
}

#div_prices_1 button:hover {
    background-color: #003d66; /* Darker blue on hover */
}

#div_prices_1 input[type="text"] {
    width: calc(100% - 22px); /* Take full width of the container minus padding and border */
    padding: 10px; /* Add some padding inside the input */
    border: 1px solid #ddd; /* A subtle border */
    border-radius: 5px; /* Rounded corners for the input */
    margin-bottom: 20px; /* Space after the input */
}



#div_prices_2 {
    margin-top: 20px; /* Add some space between the first and second div */
    border-radius: 10px;

}

#div_prices_2 table {
    width: 500px; /* Make the table take the full width of its container */
    border-collapse: collapse; /* Collapse borders */
    background-color: #fff; /* White background */
    margin-top: 20px; /* Space from the content above */
    margin-right: 30px;
    margin-left: 30px;
    border-spacing: 0; /* Removes the spacing between cells */
    border-radius: 15px; /* Rounded corners for the table */
    overflow: hidden; /* Ensures the content doesn't spill out */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds shadow for depth */

}

#div_prices_2 th, #div_prices_2 td {
    border: 1px solid #ddd; /* Light grey border */
    padding: 10px; /* Padding within cells */
    text-align: left; /* Align text to the left */
}

#div_prices_2 th {
    background-color: #f2f2f2; /* Slightly darker background for headers */
    font-weight: bold; /* Make header text bold */
}

#div_prices_2 td {
    background-color: #ffffff; /* White background for cells */
}

#div_prices_2 tr:nth-child(even) {
    background-color: #f9f9f9; /* Light grey background for even rows */
}

#div_prices_2 tr:hover {
    background-color: #f1f1f1; /* Slightly darker grey on hover for rows */
}
.headline_4{
    color: #333333;
    text-align: center;
    font-size: 2rem;
    
}

/*END of div class container directly under PRICES */
#navbar{
    background-color: #007BFF;
    color: white;
    padding: 35px 0;
    text-align: center;
    margin: 0px 0px;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's width and height */
    /* ... other styles ... */
    overflow-x: hidden; /* Hide horizontal overflow */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: font-weight 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    font-weight: 700;
    text-underline-offset: 10px;
    color:#FFEB3B;
}

.picture_text_1 ul li {
    margin: 10px 0px;
}



#highlight {
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.9rem;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    color: #FFEB3B;
}

#highlight a {
    text-decoration: none;
    color: #FFEB3B;
}
#highlight a:hover{
    text-decoration: none;
    color: #FFEB3B;
    animation-name: heartBeat;/* Use any Animate.css animation name here */
    animation-duration: 1s;
    animation-delay: 0s;
}


#higlight:hover {
    animation-name: heartBeat;/* Use any Animate.css animation name here */
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0s;
}

#highlight_1{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    color: #FFEB3B;

}

#cleaning_lady {
    display: flex; /* Aligns items horizontally */
    align-items: center; /* Centers items vertically */
    gap: 30px; /* Adds space between image and text */
    width: fit-content; /* Adjusts width to fit its contents */
    margin: 0 auto; /* Centers the container horizontally */
    justify-content: flex-start; /* Aligns items to the start of the container */
    padding: 20px 0px;
    
}

.picture_text_1 h2{
    padding-top: 20px;
}

img {   
    max-width: 700px; /* Adjust this value as needed */
    width: 50%;
    height: auto; /* Maintains the aspect ratio */
    margin: 0px;
}

.headline_2{
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}

.picture_text_1 {
    font-size: 1.2rem;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    width: 40%;
    max-width: 600px;
    margin: 0px;
}

.picture_text_2 {
    font-size: 1rem;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    width: 40%;
    max-width: 500px;
    margin: 0px;
}

.picture_text_2 h2 {
    font-size: 1.1rem;
    margin: 0px;
    padding: 5px;
}

#messageArea {
    opacity: 0; /* Start with the div invisible */
    animation: fadeInAnimation ease 3s; /* Apply the animation */
    animation-iteration-count: 1; /* Run only once */
    animation-fill-mode: forwards; /* Retain the style values set by the last keyframe */
}

#about{
    background-color:  #ffffff;
    width: 100%;
    height: 100%;
    color: white;
    padding: 5px 5px;
    margin-top: 20px;
    margin-bottom: -70px;
}

.icon_div {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    gap: 10px; /* Adjust the gap as needed */
}

.img_icon {
    /* You can set a specific width and height for the icons */
    width: 150px; /* Example size, adjust as needed */
    height: 150px; /* Example size, adjust as needed */
}

.picture_text {
    max-width: 600px; /* Adjust the maximum width of the text as needed */
}

#contact {
    background-color: #cce7fe;
    padding: 50px 10%;
    text-align: center;
    color: #333333;
}

.headline_3{
    color: #333333;
}

.contact-container {
    display: flex; /* Aligns items horizontally */
    align-items: center; /* Centers items vertically */
    gap: 100px; /* Adds space between image and text */
    width: fit-content; /* Adjusts width to fit its contents */
    margin: 0 auto; /* Centers the container horizontally */
    justify-content: flex-start; /* Aligns items to the start of the container */
}

.contact-form {
    width: 50%;
    max-width: 500px;
}

.contact-form input, .contact-form textarea {
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #007BFF;
    border-radius: 5px;
}

.contact-form button {
    width: 425px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.contact-info {
    width: 50%;
    max-width: 500px;
    text-align: left;
    font-size: 1.2rem;
    margin-top: -20px;
}

.headline_3{
    font-size: 2rem;
    margin-top: -20px;
    margin-bottom: 30px;
}


address {
    margin-top: -5px;
    padding-top: 15px;
    text-align: center;
    background-color: #007BFF;
    color: white;
}

address a {
    color: white;
    text-decoration: none;
}
address a:hover {
    text-decoration: underline;
    color: #FFEB3B;
}

.contact-info p a {
    color: #333333;
    text-decoration: none;
 }
.contact-info p a:hover {
    text-decoration: underline;
    color: #0056b3;
}


@media screen and (max-width: 800px) {

    /*Beggening of div class container directly under PRICES */
    #div_prices {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding: 15px 0px; /* Reduced padding */
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        max-width: 1200px;
        width: 90%;
        border: 1px solid #007BFF;
        background-color: #cce7fe;
        color: black;
    }
    
    #div_prices_2 table {
        width: 350px;
    }

    #div_prices_1 {
        width: 300px;
        margin: auto;
    }
    #highlight{
    font-size: 2rem;
    }

/*END of div class container directly under PRICES */

    .img_icon {
    /* You can set a specific width and height for the icons */
    width: 160px; /* Example size, adjust as needed */
    height: 160px; /* Example size, adjust as needed */
    margin-top: 0px;
    }   

   
    .icon_div {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    gap: 3px; /* Adjust the gap as needed */

    }

    #cleaning_lady {
    display: flex; /* Aligns items horizontally */
    align-items: center; /* Centers items vertically */
    gap: 15px; /* Adds space between image and text */
    margin: 0 auto; /* Centers the container horizontally */
    justify-content: flex-start; /* Aligns items to the start of the container */
    width: fit-content;
    }
    
    #cleaning_lady_picture {
    height: auto; /* Maintains the aspect ratio */
    margin-left: -30px;
    transform: scale(1.1);
    margin-top: 0px;
    }

    #services {
    display: flex;
    margin-top: 0px;
    background-color: #FFFFFF;
    width: 100%;
    }


    #about{
    background-color:  #ffffff;
    width: 100%;
    height: 70%;
    color: white;
    padding: 5px 5px;
    margin-top: 20px;
    margin-bottom: -70px;

    }

    .picture_text_2 h2 {
    font-size: 1rem;
    width: 70%;
    margin: 0px;
    padding: 0px;
    }

   
    .picture_text_2 p {
    font-size: 0.65rem;
    }

    .picture_text_1{
        flex-grow: 2;
        font-size: 1rem;
        margin-right: 10px;
    }
    .contact-container {
        flex-direction: column;
        align-items: center;
        
    }

    .contact-form, .contact-info {
        width: 100%;

    }
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align the items */
        justify-content: center; /* Center along the main axis */
        margin-top: -45px;
    }

    .contact-info p {
        margin: 7px 0px;
     }

     .contact-form input, .contact-form textarea {
        width: 300px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #007BFF;
        border-radius: 5px;
    
    }
    
    .contact-form button {
        width: 325px;
        padding: 10px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }


    .container h1 {
        font-size: 2rem;

    }
      
    .container h2 {
        font-size: 1rem;

    }

    .container {
        margin-top: 0px;
        text-align: center;
    
    }

    #div_prices_2 table {
        
        margin-top: 20px; /* Space from the content above */
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    
    }

}
